<style>
    #first::before {
        background-image: url({{ section.settings.first | img_url }});
    }

    #second::before {
        background-image: url({{ section.settings.second | img_url }});
    }

    #third::before {
        background-image: url({{ section.settings.third | img_url }});
    }

    #fourth::before {
        background-image: url({{ section.settings.fourth | img_url }});
    }
</style>

<section id="hero-slider">
    <ul id="hero-slideWrap">
        <li style="background-color: black;">
            <figure class="slide" id="first" >
                <figurecaption class="slide-title">
                    <h2>{{ section.settings.title }}</h2>
                    {% comment %} <p>{{ section.settings.description }}</p> {% endcomment %}
                </figurecaption>
            </figure>
        </li>
        <li style="background-color: black;">
            <figure class="slide" id="second">
                <figurecaption class="slide-title">
                    <h2>{{ section.settings.title }}</h2>
                    {% comment %} <p>{{ section.settings.description }}</p> {% endcomment %}
                </figurecaption>
            </figure>
        </li>
        <li style="background-color: black;">
            <figure class="slide" id="third" >
                <figurecaption class="slide-title">
                    <h2>{{ section.settings.title }}</h2>
                    {% comment %} <p>{{ section.settings.description }}</p> {% endcomment %}
                </figurecaption>
            </figure>
        </li>
        <li style="background-color: black;">
            <figure class="slide" id="fourth" >
                <figurecaption class="slide-title">
                    <h2>{{ section.settings.title }}</h2>
                    {% comment %} <p>{{ section.settings.description }}</p> {% endcomment %}
                </figurecaption>
            </figure>
        </li>
    </ul>
</section>

{% schema %}
{
  "name": "Hero",
  "class": "hero-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Example Heading",
      "label": "Heading Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Example Paragraph</p>",
      "label": "Heading Description"
    },
    {
      "type": "image_picker",
      "id": "first",
      "label": "First Carousel Image"
    },
    {
      "type": "image_picker",
      "id": "second",
      "label": "Second Carousel Image"
    },
    {
      "type": "image_picker",
      "id": "third",
      "label": "Third Carousel Image"
    },
    {
      "type": "image_picker",
      "id": "fourth",
      "label": "Fourth Carousel Image"
    }
  ],
  "presets": [
    {
      "category": "hero",
      "name": "Hero"
    }
  ]
}
{% endschema %}
